.title {
    padding: 10px;
    width: 50%;
    font-size: 28px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #eee;
}

h1 {
    font-size: 32px;
    text-align: center;
    color: #eee;
}

h2 {
    font-size: 24px;
    text-align: center;
    color: #eee;
}

h3 {
    font-size: 20px;
    text-align: center;
    color: #eee;
}

h4 {
    font-size: 16px;
    text-align: center;
    color: #eee;
}

h5 {
    font-size: 12px;
    text-align: center;
    color: #eee;
}

h6 {
    font-size: 8px;
    text-align: center;
    color: #eee;
}

p {
    font-size: 16px;
    text-align: center;
    color: #eee;
}

section {
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.container {
    background-color: #424242;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 20px);
    width: calc(100% - 10px);
}

.top-repo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.repo {
    padding: 5px;
    margin: 10px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(100, 100, 100);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background: rgb(142, 142, 142);
}
