.title {
    padding: 10px;
    width: 50%;
    font-size: 28px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #eee;
}

.container {
    background-color: #424242;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
